
.DS_Store

DexCareSDK.iOS.SampleApp/Config/acmeoriginal.plist

DexCareSDK.iOS.SampleApp.xcworkspace/xcuserdata/mattkiazyk.xcuserdatad/xcdebugger/

*.xcuserstate

DexCareSDK.iOS.SampleApp/Config/acme-hm.plist

DexCareSDK.iOS.SampleApp/Config/acme-froedtert.plist

DexCareSDK.iOS.SampleApp/Config/frosh.plist
