# This group is managed in GitHub and includes Engineering Leadership and a group of individuals that should be responsible for the quality and uniformity of this repo
*   @DexCare/mobile-sdk-codeowners
*   @DexCare/engineering-leadership
